<!DOCTYPE html>
<html>
<head>

  <% include ../../partials/head %>

</head>
<body>
    <!-- leftpanel start -->
    <% include ../../partials/leftpanel %>
    <!-- leftpanel end -->
    <div id="right-panel" class="right-panel">
        <!-- header start -->
        <% include ../../partials/header %>
        <!-- hearer end -->

        <!-- content start -->
        <div class="content">
            <div class="animated fadeIn">
                <!-- row start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Products</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Category Name</th>
                                            <th>Stock</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% results.forEach(function(result, index){ %>
                                        <tr>
                                            <td><%= result.name %></td>
                                            <td><%= result.description %></td>
                                            <td><%= result.category_name %></td>
                                            <td><%= result.stock %></td>
                                            <td><%= result.price %></td>
                                            <td>
                                                <%= result.status %>
                                            </td>
                                            <td>
                                                <!-- <a href="/products/edit/<%= result.id %>" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a> -->
                                                <a href="/products/delete/<%= result.id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to DELETE?')"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
        </div>
        <!-- content end -->
    </div>
    <!-- foot start -->
    <!-- foot has only js -->
    <% include ../../partials/foot %>
    <!-- foot end -->
</body>
